{% extends "../base.html" %}
{% load static %}
{% block title %}Calls{% endblock %}
{% block contents %}
<div class="job_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>latest calls</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="job_section_one">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="content">
          {% for call in get_calls %}
          <div class="job_list">
            <h1>{{ call.title }}</h1>
            <p>{{ call.description|safe }}</p>
            <a href="{{ call.call_document.url }}" target="_blank">more details</a>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- <div class="col-md-3">
        <div class="events_list">
          <h1>latest events</h1>
          {% for event in get_events %}
          <a href="{% url 'eventDetails' event.id %}">
            <img src="{{ event.image.url }}" alt="event.title" class="img-fluid">
            <p>{{ event.title }}</p>
          </a>
          {% endfor %}
        </div>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}
