{% extends "../base.html" %}
{% load static %}
{% block title %}Jobs{% endblock %}
{% block contents %}
<div class="job_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>latest jobs</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="job_section_one">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="content">
          {% for job in get_job %}
          <div class="job_list">
            {% if job.uploaded_date %}
              <span>{{ job.uploaded_date }}</span>
            {% endif %}
            <h1>{{ job.title }}</h1>
            <p>{{ job.description|safe }}</p>
            <a href="{{ job.job_document.url }}" target="_blank">more details <i class="fa fa-long-arrow-right"></i></a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
