{% extends "../base.html" %}
{% load static %}
{% block title %}Branches{% endblock %}
{% block contents %}
<div class="branches">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>our branches</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="branch_section_one">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Dar es Salaam Branch</h1>
          <p>fakara Health Institute (IHI), is headquartered in Mikocheni, Dar es Salaam. The Dar es Salaam branch was initially established as a central coordination office, and now hosts the offices of the IHI directorate, including the offices of the Chief Executive Director, Director of Science, Chief Finance and Systems Officer and Chief Human Resources and Administration.</p>
          <p>The branch hosts various centralized organs of the institute, including finance and administration services, human resources, procurement, transport and logistics. Additionally the branch is the base for various Research support units including Institutional Review Board (IRB), Data Systems Unit; Knowledge Management and Communications, Grants and Contracts office, Public Engagement and Partnerships team, and Information Communication Technology (ICT) unit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="branch_section_two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Bagamoyo Branch</h1>
          <p>IHI – Bagamoyo Branch was established in 2005 with major focus on clinical trials. The branch is situated in the historical city of Bagamoyo and adjacent to the District Hospital. Its prime location has paved significant positive impact to community by providing support and technical input to the Bagamoyo District Hospital and the peripheral health facilities in the vicinity.</p>
          <p>The branch in collaboration with district health authorities has managed to rehabilitate Bagamoyo district hospital and the nearby dispensary infrastructures. IHI Bagamoyo Branch is now firmly established as a world–class research site. The branch now hosts malaria vaccine research, various drug trials, TB research, malaria vector research and also research on viruses and antibiotic resistance.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="branch_section_three">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Ifakara Branch</h1>
          <p>Ifakara Health Institute (IHI) owes its name to its original site in Ifakara Town, a growing town of 60,000 people today. This remains the registered office of IHI. The name Ifakara implies “a place you go to die”, probably because of the high mortality rates historically experienced in this area. Scientists at the Ifakara branch conduct mainly conduct research on biomedical and to a large scale, environmental and ecological studies, but there are also trials of drugs, vaccines and diagnostics, health-systems research, and monitoring and evaluation. The HIV/Aids clinic which is located at the St. Francis Hospital in Ifakara is run in partnership with the Swiss Tropical and Public Health Institute.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
