{% extends "../base.html" %}
{% load static %}
{% block title %}Staff Details{% endblock %}
{% block contents %}
<div class="history_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>our history</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="history_section_one">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <p><strong>The beginning:</strong> A visit to Ifakara by zoologist Dr. Rudolf Geigy from Switzerland in 1949 marked the beginning of over 50-year history of IHI. Geigy [1920-1995], a scientist from the Swiss Tropical Institute in Basel, sought a fieldwork location for researching on tropical diseases. Eight years later, he opened the Swiss Tropical Institute Field Laboratory (STIFL) there.</p>
          <p>The name “Ifakara” refers to “a place you go to die”, a reflection of the historically high burden of disease in the area, before major control efforts started.</p>
          <p><strong>Transformation:</strong> In the years after the 1961 independence, STIFL played a central role in training medical officers who could serve the country after independence. The government mandated STIFL to play the role through the Rural Aid Centre, which was designed to undertake the assignment.</p>
          <p>Tanzania adopted the nationalization policy in the late 1960s and early 1970s which championed transferring of public institutions into the hands of Tanzanians. The policy set the stage for the integration of STIFL into a government agency – National Institute for Medical Research (NIMR) which was achieved some years later in 1990.</p>
          <p>The following year, that’s is 1991, STIFL was renamed ‘Ifakara Centre’ and made an affiliate of NIMR. In 1996, it was made a trust and renamed, ‘Ifakara Health Research and Development Centre (IHRDC). This name lasted until 2008 when it was changed to the current one of ‘Ifakara Health Institute.</p>
          <p><strong>Flowering era:</strong> From the 1990s onward, IHI received an influx of funding and prestigious awards for excellence in health research. In 2008, it received the Prince of Asturias Award – a series of annual prizes awarded in Spain by the <a href="http://www.fpa.es/en/" style="color:#3399ff">Prince of Asturias Foundation</a> to individuals, entities or organizations from around the world who make notable achievements in the fields of sciences, humanities and public affairs. The aim is to encourage and promote scientific, cultural and humanistic values that form part of mankind’s universal heritage. In 2010, IHI received the (Tanzania) National Award for Science and Technology.</p>
          <p><strong>New Era:</strong> The first Tanzanian science director, Dr. Andrew Kitua, was appointed in 1993. His successors: Dr. Hassan Mshinda and Dr. Salim Abdulla, built strong teams that took the institute to the high level of excellence, extending operations of the institute to other regions.</p>
          <p>In 2005, the institute extended its wings by opening a new branch in the Tanzania’s colonial era capital, Bagamoyo.</p>
          <p>The Institute’s name was simplified to "Ifakara Health Institute," abbreviated as “IHI” in 2008. The same year, Dar es Salaam Office, where IHI is currently headquartered, was opened.</p>
          <p>And three years later, in 2012, the IHI Training Center and the Clinical Trials Facility were built at Kingani area in Bagamoyo.</p>
          <p>The sitting Chief Executive Director, Dr. Honorati Masanja, was appointed in 2016.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="history_section_two">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="content_hih_image">
          <img src="{% static 'images/bg4.jpg'%}" alt="ihi-image" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4">
        <div class="content_table">
          <h1>past directors</h1>
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Start</th>
                  <th>End</th>
                  <th>Fullname</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1975</td>
                  <td>1977</td>
                  <td>Gerhard Eichenberger</td>
                </tr>
                <tr>
                  <td>1978</td>
                  <td>1981</td>
                  <td>Adrian Zumstein</td>
                </tr>
                <tr>
                  <td>1981</td>
                  <td>1984</td>
                  <td>Marcel Tanner</td>
                </tr>
                <tr>
                  <td>1985</td>
                  <td>1987</td>
                  <td>Don de Savigny</td>
                </tr>
                <tr>
                  <td>1987</td>
                  <td>1988</td>
                  <td>Christoph Hatz</td>
                </tr>
                <tr>
                  <td>1988</td>
                  <td>1989</td>
                  <td>Calum MacPherson</td>
                </tr>
                <tr>
                  <td>1990</td>
                  <td>1994</td>
                  <td>Thomas Teuscher</td>
                </tr>
                <tr>
                  <td>1994</td>
                  <td>1997</td>
                  <td>Andrew Kitua</td>
                </tr>
                <tr>
                  <td>1997</td>
                  <td>2006</td>
                  <td>Hassan Mshinda</td>
                </tr>
                <tr>
                  <td>2008</td>
                  <td>2016</td>
                  <td>Salim Abdulla</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="history_section_three">
  <div class="container-fluid">
    <h1>Chronology</h1>
    <div class="row">
      <div class="col-md-8 offset-md-2">

      <div class="timeline">
        <div class="timeline_container left">
          <div class="content">
            <h2>1949</h2>
            <p>Rudolf Geigy’s (Swiss Tropical Institute) first expedition to Ifakara.</p>
          </div>
        </div>
        <div class="timeline_container right">
          <div class="content">
            <h2>1954</h2>
            <p>Rudolf Geigy and collaborators are invited to Ifakara by the Swiss Capuchin Mission (Edgar Maranta).</p>
          </div>
        </div>
        <div class="timeline_container left">
          <div class="content">
            <h2>1956</h2>
            <p>Swiss Tropical Institute Field Laboratory (STIFL) founded in Ifakara.</p>
          </div>
        </div>
        <div class="timeline_container right">
          <div class="content">
            <h2>1961</h2>
            <p>Rural Aid Centre (RAC), a training-school for “Rural Medical Aids,” opens at Ifakara in then Tanganyika.</p>
          </div>
        </div>
        <div class="timeline_container left">
          <div class="content">
            <h2>1972</h2>
            <p>Rural Aid Centre transferred into a Medical Assistants Training Centre (MATC).</p>
          </div>
        </div>
        <div class="timeline_container right">
          <div class="content">
            <h2>1978</h2>
            <p>MATC handed over to the Tanzanian government.</p>
          </div>
        </div>
        <div class="timeline_container left">
          <div class="content">
            <h2>1991</h2>
            <p>STIFL renamed "Ifakara Centre" and becomes an affiliate of the National Institute for Medical Research, NIMR.</p>
          </div>
        </div>
        <div class="timeline_container right">
          <div class="content">
            <h2>1993</h2>
            <p>First Tanzanian Scientific Director, Dr. Andrew Kitua, appointed.</p>
          </div>
        </div>
        <div class="timeline_container left">
          <div class="content">
            <h2>1996</h2>
            <p>Registered as an independent entity (Trust) under the name "Ifakara Health Research and Development Centre, IHRDC".</p>
          </div>
        </div>
        <div class="timeline_container right">
          <div class="content">
            <h2>1997</h2>
            <p>Dr. Hassan Mshinda appointed as Director (1997-2008).</p>
          </div>
        </div>

        <div class="timeline_container left">
          <div class="content">
            <h2>2005</h2>
            <p>Bagamoyo branch, where the institute’s main lab facilities are located, opens.</p>
          </div>
        </div>
        <div class="timeline_container right">
          <div class="content">
            <h2>2008</h2>
            <p>Dr Salim Abdulla appointed Chief Executive Director (2008 – 2016). Name simplified to "Ifakara Health Institute," abbreviated as “IHI”. Dar Office, where IHI is currently headquartered, opens.</p>
          </div>
        </div>
        <div class="timeline_container left">
          <div class="content">
            <h2>2012</h2>
            <p>The IHI Training Center and the Clinical Trials Facility are built at Kingani area in Bagamoyo.</p>
          </div>
        </div>

        <div class="timeline_container right">
          <div class="content">
            <h2>2016</h2>
            <p>Dr. Honorati Masanja appointed as Chief Executive Director</p>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
