{% extends "../base.html" %}
{% load static %}
{% block title %}Research Platform{% endblock %}
{% block contents %}
<div class="research_platform">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>infrastructure</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="research_platform_section_one">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>World-class research infrastructure</h1>
          <p>IHI boasts world-class research infrastructure and sites in Bagamoyo and Ifakara branches. The branches now host malaria vaccine research, various drug trials, TB research, malaria vector research and also research on viruses and antibiotic resistance.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="research_platform_section_two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>State-of-the-art labs</h1>
          <h2>ISO 15189:2012 Accredited BSL II Labs</h2>
          <p>Our BSL II labs are well-equipped laboratories with basic and state-of the art equipments, located in IHI Bagamoyo at the premises of Bagamoyo District Hospital and Kingani Clinical Trial Facility. The laboratory is <strong>ISO 15189:2012 Accredited</strong> for Medical laboratory testing in Clinical Chemistry, Hematology and Parasitology awarded by Southern African Development Community Accreditation Services (SADCAS).</p>
          <p>The laboratories allow both conventional and state-of-the-art analyses. These laboratories were established to support laboratory-based research including clinical trials and training services. The laboratories are staffed with highly skilled and experienced technical and support personnel. Laboratory personnel include Laboratory Managers, heads of units, laboratory scientists, certified medical technologists, certified medical laboratory technicians and registrars (receptionists).</p>
          <p>We conduct research on various diseases including malaria, tuberculosis, non-communicable diseases like diabetes and other bacterial infections and provide clinical diagnostic services in Clinical Chemistry, Hematology, Immunology, Helminthology, Mycobacteriology, Bacteriology, Molecular biology and Serology.</p>
          <p>The state-of-the art BSL II labs are equipped with microscopes, standard cold chain facilities (-20,-80 and liquid nitrogen tanks), hematology analysers (Two Sysmex XS 800i) Biochemistry analysers (Two Cobas Integra 400 Plus), Molecular biology machines which includes MassArray, conversional and real time PCR machines. There is also a general Bacteriology laboratory equipped with automated bacteria culture, the two Bactec 9050.</p>
          <p>The Biosafety level II TB laboratory is equipped with two MGIT 960, Fluorescent microscope and Gene expert whereas the immunology laboratory possess the Fortesa LSR, Facscalibur, incubators, laminar flow hoods, ELISA reader and washer machine. The lab has additional basic equipment, such water distiller system, centrifuges and autoclaves. Hematology, Biochemistry, parasitology and microbiology sections are enrolled into a Proficiency testing scheme to allow generation of quality and accurate results.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="research_platform_section_three">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Training centres and platforms</h1>
          <p>Bagamoyo Research and Training Centre (BRTC) located inside Bagamoyo District Hospital and Kingani Training Centre (KTC) support IHI onsite training programs. Operating under the coordination of the IHI Training Unit, the facilities are used by the institute for building the capacity of staff and other health professionals. The centres are used to offer different programmes, including an accredited master’s programme (refer to the training section of this profile for more details).</p>
          <p>Training facilities include various IHI research platforms and ongoing research projects, which also provide training ground for several staff and students. Available platforms include: two Health and Demographic Surveillance Sites (HDSS) located in Kilombero/Ulanga and Rufiji; and semi field insectaries and experimental facilities for studies on mosquitoes in a safe and controlled environment.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="research_platform_section_four">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>The Mosquito City</h1>
          <p>IHI has the largest set of biospheres for studying the ecology and control of mosquitoes, anywhere in the world. They are designed to mimic the natural ecosystem of mosquitoes in disease endemic communities and are used for both research and training.</p>
          <p>Branded as ‘Mosquito City,’ the biospheres are located 5km north of Ifakara Town, in an area of 105 acres. These megacorsoms have contributed immensely to the understanding of the ecology of malaria mosquitoes, and also to our efforts in evaluating current and new vector control tools. A fully equipped electronic climate station has also been installed within the Mosquito City. The main set of biospheres is located at Kining’ina area, just outside the town. Similar facilities have been built at the IHI Bagamoyo branch.</p>
          <p>IHI currently has more than 6000 square metres of screen house space, with different compartments, some of which have self-sustaining colonies of malaria vectors, for various research studies. These megacorsoms and experimental hut facilities (located in nearby villages in the Kilombero River Valley) allow controlled semi-field studies and mosquito release studies.</p>
          <p>In previous years, IHI successfully used these facilities to demonstrate the efficacy of various mosquito control tools, including controlled investigation of the concept of auto-dissemination of insecticides by mosquitoes, evaluation of new outdoor mosquito control tools, evaluation of house improvement strategies for vector control and evaluation of endectocides such as ivermectin given to cattle but whose effects are observable on mosquito populations.</p>
          <p>At the Mosquito City, we also have long marathon tunnels for studying mosquito behaviours in long range. These tunnels are 110m long and 12m wide, and are primarily used to investigate mosquito host seeking behaviours over long distances, but in controlled settings.</p>
          <p>We have previously used such tunnels to study effects of outdoor mosquito control devices on vector populations and survival, to assess the range of attractiveness of various synthetic odours, and to examine the efficacy of wide-area mosquito repellents such as transfluthrin.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="research_platform_section_five">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Clinical Trials Facility</h1>
          <p>Located on the outskirts of Bagamoyo, Kingani Clinical Trials Facility (CTF), widely known by the name of ‘Kingani Hospital,’ has a track record in designing and conducting Phase I to Phase III GCP-compliant clinical studies, as well as analysis and reporting for regulatory review and licensure. The site is supported by an institutional quality assurance team.</p>
          <p>IHI uses the CTF to conduct high quality clinical trials in close collaboration with national and international institutions and organizations including: Muhimbili National Hospital, National Institute for Medical Research (NIMR), Swiss Tropical and Public Health Institute (Swiss TPH), University of Lausanne, Medicines for Malaria Venture, Malaria Vaccine Initiative, European Vaccine Initiative, Novartis, GSK, and Sanaria Inc (USA).</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="research_platform_section_six">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Chronic diseases clinics</h1>
          <p>Established in 2005 as a joint initiative between St. Francis Referral Hospital (SFRH), the Kilombero and Ulanga Antiretroviral Cohort (KIULARCO) and Swiss TPH, the Chronic Diseases Clinic of Ifakara (CDCI) is the first rural HIV treatment center in Tanzania. It’s integrated in the St. Francis Referral Hospital (SFRH) in Ifakara.</p>
          <p>The aim from the very beginning was to deliver healthcare for people living with HIV/Aids, according the National AIDS Control Programme (NACP) – but also to better understand the needs of this rural patient population and improve healthcare. The establishment of a One Stop Clinic within the CDCI in 2013 enabled us to integrate various additional key services for HIV-affected families and to reduce the mother-to-child-transmission of HIV to below 2%.</p>
          <p>Through our partnership with St. Francis Referral Hospital, we screen all patients seen in in- and outpatient departments for HIV and enroll 30 to 80 new HIV-positive patients into care monthly. Unfortunately, of these, still about 40% of patients present at an advanced stage of disease (WHO class III and IV), leading to a persistent high mortality of 10%.</p>
          <p>In an ongoing cohort study (KIULARCO), close to 9000 patients have consented to contribute their clinical data to address questions on treatment outcome, important opportunistic infections and co-morbidities. This has resulted into considerable improvements of the services with multiple lessons now benefiting the national and international efforts against HIV and co-morbidities. Currently, about 3500 patients are under regular follow-up on an outpatient basis and about 90% of these are taking an antiretroviral treatment.</p>
          <p>Also clinical care for TB patients remains a high priority. We have integrated HIV and TB services in order to better serve patients’ needs and to better understand the deadly combination of these 2 infections. We have several projects aiming at improving diagnosis in these patients, comorbidities and differences to patients from urban settings.</p>
          <p>The clinic is supported by a high-quality laboratory, where viral load and drug resistance testing are done, allowing us to address the important questions of resistance development as well as to individualize patient treatment.</p>
          <p>In addition, IHI is involved in care and clinical research for non-communicable diseases, such as emergency medicine and heart diseases, which are of great importance in rural areas.</p>
        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}
