{% extends "../base.html" %}
{% load static %}
{% block title %}Branches{% endblock %}
{% block contents %}
<div class="unitanddepartment">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>units & departments</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="unitanddepartment_section_one">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>IHI work is organized in 3 departments and 17 units.</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="unitanddepartment_section_two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
            <p>IHI has three research departments; seven research units; three directorate units; one audit unit; and six operations units. The office of the Director of Science (DOS) houses three research departments and six research units. The research departments are: Environmental Health and Ecological Sciences (EHES), Interventions and Clinical Trials (ICT); and Health Systems, Impact Evaluation and Policy (HSIEP); and the six research units are: Grants and Contracts, Training and Capacity Building, Laboratories, Data Systems, Vector Control Product Testing, Chronic Diseases Clinics, and Public Engagement.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="unitanddepartment_section_three">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="card_content">
            <p>The office of the Chief Executive Director (CED) houses three units: Research Quality Assurance, Institutional Review Board (IRB), and Knowledge Management and Communications. The Finance, Audit and Risk Committee of the Board of Trustees oversees the Audit Unit.</p>
          </div>
          <div class="card_content">
            <p>The office of the Chief Operations Officer (COO) [also known as Chief Operating Officer] oversees six operations units: Finance Management, Human Resources Management, Procurement Management, Branch Management, Information and Communication Technology, and Transport and Maintenance.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="environmental_health">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Environmental Health and Ecological Sciences</h1>
          <p>The group focuses primarily on ecology and transmission of infectious diseases. The work also includes development and testing of surveillance and control measures.</p>
          <h2>Key areas of work include:</h2>
          <ol>
            <li>Mosquito ecology and control.</li>
            <li>Water, sanitation and hygiene research.</li>
            <li>Neglected tropical infectious diseases and zoonoses</li>
            <li>Advanced statistics, mathematical modeling, health geographics and social innovations.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="intervention">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Interventions and Clinical Trials</h1>
          <p>The department conducts trials on drugs, diagnostics and vaccines for tuberculosis (TB), HIV, malaria and other diseases including respiratory pathogens, zoonotic diseases, arboviruses, and various emerging and re-emerging infections.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="health_system">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Health Systems, Impact Evaluation and Policy</h1>
          <p>This department conducts multi-disciplinary studies of health systems performance and community health programs including service delivery; quality; effectiveness and cost effectiveness; equity; health financing; human resources for health; governance & accountability. It also monitors and evaluates pilot initiatives, national, community programs and changes in population health status. The department also evaluate impact and outcome of public and community-based interventions for improved health and wellbeing, as well as behavior change and their relevant determinants.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="units">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Ifakara Health Institute Units.</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="research_unit" data-aos="zoom-out-up">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>RESEARCH UNITS</h1>
          <ul class="w3-ul" style="width:100%">
            <li>Grant and Contracts</li>
            <li>Training and Capacity Building</li>
            <li>Laboratories</li>
            <li>Data Systems</li>
            <li><a href="{% url 'vcptuPage' %}">Vector Control Product Testing</a></li>
            <li>Chronic Diseases Clinic</li>
            <li>Public Engagement</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="directorate_unit" data-aos="zoom-out-up">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>DIRECTORATE UNITS</h1>
          <ul class="w3-ul" style="width:100%">
            <li>Research Quality Assurance</li>
            <li>Institutional Review Board</li>
            <li>Knowledge Management and Communications</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="operations_unit" data-aos="zoom-out-up">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>OPERATIONS UNITS</h1>
          <ul class="w3-ul" style="width:100%">
            <li>Finance Management</li>
            <li>Human Resources Management</li>
            <li>Procurement Management</li>
            <li>Branch Management</li>
            <li>Information and Communication Technology</li>
            <li>Training and Maintenance</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
