{% extends "../base.html" %}
{% load static %}
{% block title %}Who we are{% endblock %}
{% block contents %}
<div class="who_we_are">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Who we are</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="who_we_are_section_one">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>ifakara health institute</h1>
          <p>Ifakara Health Institute (IHI) is a leading health research organization in Africa, with a strong track record of developing, testing and validating innovations for health. We are driven by core strategic mandate for research, training and services. The institute’s work spans across the full research lifecycle from basic science to policy and translation.</p>
          <p>IHI work is organized in three research departments, six research units and seven technical units. The research departments are: Environmental Health & Ecological Sciences, Interventions & Clinical Trials, and Health Systems, Impact Evaluation & Policy.</p>
          <p>The research units are: Grants and Contracts, Training & Capacity Building, Laboratories, Data Systems and Platforms, Vector Control Product Testing, and Chronic Diseases Clinics. The technical units, which are supporting research (our primary activity) are: Internal Audit, Knowledge Management and Communications, Finance Management, Human Resources, Procurement Management, Branch Management and Information & Communication Technology. We have three major offices in Tanzania (Ifakara, Bagamoyo & Dar es Salaam).</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="missionvision">
  <div class="container">
    <h1>mission & vision</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="content">
            <div class="mission_vision">
              <h2>mission</h2>
              <p>To develop and sustain a district‐focused health research institute capable of generating new knowledge and information for public health policy and action.</p>
            </div>
            <div class="mission_vision">
              <h2>vision</h2>
              <p>To be a center of excellence and innovation in health research and development, aiming at maximizing population health gain.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="corevalues">
  <div class="container">
    <h1>Our core values</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="ourvalues">
            <h2>Transparency</h2>
            <p>“We share information and results widely. We keep our teams and stakeholders informed on issues that may affect them directly or indirectly.”</p>
          </div>
          <div class="ourvalues empty"></div>
          <div class="ourvalues">
            <h2>Responsibility</h2>
            <p>“We take ownership of our objectives. We accept responsibility and accountability. We don’t make excuses. We help others to ensure that results are achieved.”</p>
          </div>
          <div class="ourvalues empty"></div>
          <div class="ourvalues">
            <h2>Integrity</h2>
            <p>“We proudly uphold the values of honesty, truthfulness and sincerity, while remaining fair and ethical in all our doings and situations.”</p>
          </div>
          <div class="ourvalues empty"></div>
          <div class="ourvalues">
            <h2>Respect</h2>
            <p>“We treat each other with courtesy, kindness and empathy. We respect diversity and dignity.”</p>
          </div>
          <div class="ourvalues empty"></div>
          <div class="ourvalues">
            <h2>Initiative</h2>
            <p>“We value flexibility. We use initiative to solve problems. We encourage creativity and innovation.”</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
