{% extends "../base.html" %}
{% load static %}
{% block title %}Research{% endblock %}
{% block contents %}
<div class="research_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>our research</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="research_section_one">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>A world-class research Institute</h1>
          <p>IHI is best known for its work on malaria. However, we focus on all health challenges identified as important by the Tanzanian government and the people living in communities near each of the IHI facilities. The institute’s scientists are working on a wide range of diseases, ensuring that research translates into tangible health outcomes. Our research work is conducted in through three research departments:</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="research_section_two">
  <div class="row">
    <div class="col-md-12">
      <div class="content">
        <div class="left">
          <h1>Environmental Health and Ecological Sciences</h1>
          <p>We focus on the ecology and transmission of infectious diseases through developing and testing of surveillance and control measures. Key areas include: mosquito ecology and control, water, sanitation and hygiene research. Other areas are: statistics, mathematical modeling, health geography and social innovations.</p>
          <p>In recent years, major activities have included research on ecology of disease-transmitting mosquitoes with special focus on malaria and now expanding to other mosquito-borne diseases, including dengue, filariasis, rift valley fever and zika.</p>
        </div>
        <div class="right">
          <h1>Interventions and Clinical Trials</h1>
          <p>In Ifakara, Rufiji and Bagamoyo, IHI has developed platforms for surveillance, implementation science studies and clinical trials covering district hospitals and satellite clinics, providing the basis for Phase 2 and 3 clinical trials and pharmaco-vigilance. A new centre for clinical trials at Kingani area in Bagamoyo District was opened in 2012, and has already performed a bio-equivalence study and a malaria challenge study using fully infectious purified sporozoites.</p>
          <p>Our clinical trial facilities in Bagamoyo and Ifakara are supported by laboratory capabilities in parasitology, haematology, biochemistry, immunology, molecular biology and a bio-safety level 3 laboratories for bacteriology and virology.</p>
          <p>We are also providing technical support in other countries to start and implement clinical trials. For example, we currently have a group based in Equatorial Guinea supporting large-scale vaccine trial programs there.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="research_section_three">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="left">
            <h1>Health Systems, Impact Evaluation and Policy</h1>
            <p>We conduct multi-disciplinary studies of health systems performance including service delivery, quality, effectiveness and equity. We also monitor and evaluate pilot initiatives, national programs and changes in population health status.</p>
            <p>Social determinants of health, health impact of public policies and social health protection are recent additions to this portfolio. Lastly, the group catalyzes uptake and effective implementation of policy changes, interventions or new approaches, by devising and testing scalable, replicable implementation models and tools.</p>
          </div>
          <div class="right">
            <h1>HIV, TB, maternal & neonatal</h1>
            <p>Our HIV clinic at Ifakara focuses on treatment adherence, treatment outcomes and PMTCT outcomes. Ongoing research, including two cohort studies (one on HIV, a second one on TB), examine comorbidities and HIV acquisition & progression; risk factors for HIV acquisition; community perceptions on prevention, risk factors for HIV acquisition; community perceptions on prevention; HIV health-seeking and retention, testing interventions for improving diagnosis and treatment uptake, and evaluation of the impact of recently policy program developments.</p>
            <p>Regarding TB, IHI works with the government through the ministry of health in mapping circulating TB strains and resistance patterns and test new diagnostics for childhood TB. Ongoing studies include the rapid evaluation of high-dose nifampicin and other rifamycins, and a safety & immunogenicity evaluation of H1/IC31 – an adjuvanted TB subunit vaccine.</p>
            <p>Research on maternal & neonatal health began with the largest-ever household survey in Tanzania to describe maternal and neonatal mortality in Mtwara and Lindi districts. Related studies examined health beliefs surrounding pregnancy and childbirth, and amenability to change hazardous practices affecting newborn children. Current research includes a range of health system-based, replicable interventions, to increase skilled birth attendance and improve the accessibility and quality of obstetric emergency care.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="research_section_four">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Emerging interests</h1>
          <p>In recently years, resurgent interest in neglected tropical diseases (NTDs) provides the opportunity to revisit and build upon IHI’s historic engagement on schistomiasis, trypanosomiasis, onchocerciasis, filariasis, chikungunya and others. We anticipate a growing body of work on the epidemiology of NTDs.</p>
          <p>Rapid demographic and lifestyle changes in developing countries, including Tanzania, also highlight the growing importance of understanding non-communicable disease (NCD) risk factors – notably diabetes and cardiovascular disease. Pipeline projects focus on identifying and evaluating primary prevention and management approaches applicable in low-income settings.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
