{% extends "../base.html" %}
{% load static %}
{% block title %}Services{% endblock %}
{% block contents %}
<div class="service_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>our services</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="service_section_one">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <p>IHI offers dedicated premium services to projects, staff, policy-makers and the general public. They range from archiving study data to useful information that may affect the lives of the partners it works with.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="service_section_two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="content_details" data-aos="zoom-out-up">
            <h1>Archives</h1>
            <p>Projects at IHI are assured of reliable storage of paper study documents/materials at our Bagamoyo archives. Officially opened in 2012, the archives based at Kingani site, has 44 cabinets and 22 shelves, capable of storing more than 30,000 flat and box files of field data.</p>
          </div>
          <div class="content_details" data-aos="zoom-out-up">
            <h1>Conference facilities</h1>
            <p>IHI operates a number of conference facilities in Dar es Salaam, Ifakara, and Bagamoyo. They are open for staff, projects and partners. There are two rooms at the Dar es Salaam office with the capacity of accommodating between 10 and 70 people; four in Bagamoyo with the capacity of accommodating between 20 and 50 people; and one in Ifakara whose capacity is between 20 and 30 people.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="service_section_three">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content" data-aos="zoom-out-up">
          <h1 data-aos="zoom-out-up">Information platforms</h1>
          <p>IHI offers free of charge information services through its website, blog (Sayansi na Ubuntu), social media channels, an e-data platform, and library. The institute’s website (www.ihi.or.tz) is a source of up-to-date information on health scientific research used by scientists, the mass media, policy-makers and the general public.</p>
          <p>The Sayansi na Ubuntu blog, particularly, publishes lay versions of the complex study reports to inform on the latest developments in health science research and training. Our social media channels (Facebook: @likeIHI and Twitter: @Ifakarahealth) are updated regularly to keep staff and our partners in the industry informed.</p>
          <p>The institute’s libraries – both the physical one at the training centre at Kingani and the digital (online) one (www.eprints.com) – particularly serve scientists with a reliable access to old and up-to-date publications</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="service_section_four">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Rest houses and residences</h1>
          <p>IHI staff, guests, collaborators and project workers assigned to Ifakara are assured of standard accommodation. There are 14 fully furnished and serviced rooms. The facilities are located in the IHI’s Ifakara compound, about 40 kilometres from Udzungwa National Park, approximately a day’s drive from the Selous Game Reserve and a four-hour drive from Mikumi National Park.</p>
          <p>Servants at these rest houses offer unrivaled hospitality and great convenience for visitors in Ifakara, at very affordable prices. Guests have free access to a well-maintained swimming pool, wonderful silent rooms and the restaurant which serves Tanzanian and other cuisines.</p>
          <p>We have several self-contained and air-conditioned bedrooms with TV and Wi-Fi access. Our guest house also provides reliable 24/7 security for all guests. Catering and laundry services are also available at affordable price.</p>
          <p>In addition to the short-stay guest houses, IHI also offers a variety of residential accommodation for longer stay visitors and also for staff and collaborators. The residences consist of fully furnished 2-3-bedroom houses conveniently located close to the IHI’s offices.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
