{% extends "../base.html" %}
{% load static %}
{% block title %}Training{% endblock %}
{% block contents %}
<div class="training_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>our training</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="training_section_one">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>High-level expertise</h1>
          <p>While IHI’s primary mission continues to be research, development of human capacity within and beyond the institute has always been valued and is recognized as an essential component of innovation and institutional growth. IHI has become a major catalyst for the development of high-level expertise, complimented by strong investment in Master’s level education and practical research training.</p>
          <p>A number of senior scientists are affiliated to national and international centres of excellence, thereby contributing to teaching. Over the years, IHI has been hosting doctoral fellows who use the IHI research platforms and expertise.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="training_section_two">
  <div class="row">
    <div class="col-md-12">
      <div class="content">
        <div class="left">
          <h1>Partnership for quality training</h1>
          <p>IHI is not a university or a higher learning institution therefore it does not have the ability to award its own degrees. Taking into account the fact that Tanzania’s university system is not equipped to fully train the top-class researchers, the institute has partnered with universities to train researchers to carter for its needs and the demand of the labour market. </p>
        </div>
        <div class="right">
          <h1>Internship programme</h1>
          <p>Over the years, IHI has been a home to interns getting introduced to the real world of health research. The institute welcomes interns to work on a temporary basis at IHI’s Dar es Salaam, Ifakara and Bagamoyo offices. Usually, internships last three months and do not exceed twelve months.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="training_section_three">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="content_left w3-card">
          <h1>IHI Training Center</h1>
          <p>We have a dedicated training center to support our onsite training programs, located at the Bagamoyo Branch. The center coordinates all training and capacity building activities which include an accredited MScPHR program, and skill transfer short courses in different scientific disciplines based on key IHI research areas.</p>
          <p>Training activities also include co-supervision of masters, doctoral and post-doctoral fellows from partner universities. Training facilities include a dedicated Training Center located in Bagamoyo, various IHI research platforms and ongoing research projects, which also provide training ground for several staff and students.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content_right">
          <p>IHI leverages its research platforms, expertise (senior researchers), networks with higher learning institutions (abroad and in Tanzania) to offer quality practical training to researchers, students, doctoral and post doc fellows. Available learning platforms include:</p>
          <ol>
            <li>Friendly data policy that allows access to our extensive data sets for learning or publication.</li>
            <li>Two Health and Demographic Surveillance Sites (HDSS) located in Kilombero/ Ulanga and Rufuji districts.</li>
            <li>BSL 2, 2+ and 3 laboratories located at Bagamoyo and Ifakara branches.</li>
            <li>Digital library offering access to multitudes of publications including digitized gray literature and published work.</li>
            <li>Semi field insectaries and experimental facilities at Bagamoyo and Ifakara branches for studies on mosquitoes in a safe and controlled environment and study of different species of mosquitoes.</li>
            <li>Several ongoing research projects at any given time, these offer opportunity for hands-on practical training in diverse areas and stages of research.</li>
            <li>Experienced researchers in various fields of health.</li>
            <li>Clinical Trials Facility capable of handling early-phase clinical trials</li>
            <li>High speed internet connection at all branches</li>
            <li>Presence in multiple sites in Tanzania and strong working relationship with rural and urban communities in the country.</li>
          </ol>
          <div class="log_program">
            <h1>LONG PROGRAMS</h1>
            <h2>Master’s program in public health research</h2>
            <p>The MScPHR program is designed for young university graduates who are interested in becoming public health researchers. Modules are suited for a complete Master’s degree, but can also be taken in parts as a foundation for PhD candidates.</p>
            <p>The program is delivered within the mandate of the Nelson Mandela African Institution for Science and Technology-Arusha (NM-AIST) in line with the MoU between IHI and NM-AIST. This is a two-year program divided into two parts, with 12 months of course work and 12 months of research.</p>
            <p>Graduates can pursue specializations in areas of intervention research, health system research or determinants of health and diseases. The course work is conducted at our Training Center based at Kingani area in Bagamoyo.</p>
            <h2>Advanced postgraduate training in public health research</h2>
            <p>Researchers working with IHI receive professional training inside and outside the country. Several PhDs level professionals and a number of MSc students also use IHI as their training platform. Through leveraging of its rich and diverse research platforms IHI is a preferred training ground for post-doctoral research fellows from all over the world.</p>
            <p>In recent years, IHI has greatly enhanced its efforts in advanced research and training. This process has allowed us to significantly improve our research outputs and expand career development opportunities for young researchers in Tanzania and beyond.</p>
            <p>The current demographics of our research staff, with a median age of less than 40, and their scientific productivity are a testament to this potential.</p>
            <p>We graduate more than 10 masters and 5-8 PhDs annually. IHI post graduate researchers regularly present their work in international conferences, and engage widely with various stake holders and funding partners.</p>
            <h1>SHORT PROGRAMS</h1>
            <h2>Capacity Building in Malaria</h2>
            <p><strong>Course Objectives: </strong>The course is designed to reinforce knowledge and expertise in malaria and to develop competence in self and e-learning. Graduates are expected to manage malaria issues more effectively and to develop basic training courses and material in their home institutions.</p>
            <p><strong>Structure of the Course: </strong>The course is offered by Ifakara Health Institute (IHI) in collaboration with the Swiss TPH at the former’s Training Center at Kingani in the Tanzania’s old capital, Bagamoyo. It lasts four weeks.</p>
            <p>The course structure is modular and is taught using blended-learning approach. Each module lasts one-week (5 days). On the first day of the week day, Monday, participants receive questions on the topic of the week. Under the mentorship of facilitators, while working with their peers using literature search (internet), the course participants complete their assignments and present to the entire group on the last day of the week day, Friday.</p>
            <p>In addition to the self-directed learning, the module includes one lecture every day and one educational visit each week. The study time for the four weeks is approximately 200 hours – of which 40 hours is for pre-residential preparations such as speed talks and 160 hours for course work.</p>
            <p><strong>Facilitators: </strong> Facilitators of the course are drawn from a pool of iinternational and national experts from malaria affected and non-affected countries. They are selected for their area of expertise, teaching skills and willingness to be deeply involved in the engaging learning process.</p>
            <p><strong>Life sciences, health systems and public health research: </strong>Short courses are offered on regular basis at IHI Training Center in Bagamoyo. The courses target statisticians, research officers, project/program officers, health managers, district/regional medical officers, academicians, health secretaries, under graduate and post graduate students.</p>
            <p><strong>Short courses offered include: </strong>Social determinants of Health; Systematic reviews; Data analysis; Writing for publication and Grants; Literature Management (Mind mapping, search strategies, citation and reference Management and Plagiarism); Basic and advanced statistical analysis methods (qualitative, quantitative and mixed method); Geographic Information Systems and Environmental Modelling; Economic evaluation of health programs, and Project management.</p>
            <p><strong>Others include: </strong>Modeling for infectious diseases; Essential research skills for vector biologists; Essential R skills for vector biologists; and Media communication. In many instances, IHI offers these short courses in partnership with other institutions and collaborators. In other cases, however, specialist IHI staff may offer specific targeted courses as well. The Training and Capacity Building Department manages the annual time tables for these courses.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="training_section_four">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Training health professionals</h1>
          <p>In addition to training researchers, IHI also plays a role in the training of health professionals in Tanzania. The Rural Aid Centre set up by the first IHI researcher, Dr. Geigy, was handed over to the Tanzanian government in 1978. It has evolved into a public-private partnership between the Tanzanian Ministry of Health, Novartis Foundation for Sustainable Development and the Swiss TPH. </p>
          <p>The centre, which is now named ‘Tanzania Training Centre for International Health,’ based in Ifakara, Morogoro region, offers courses in partnership with Columbia University in the US, and the University of Athens in Greece. Founded in 2008, the centre has produced more than 1700 health professionals.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
