{% extends "../base.html" %}
{% load static %}
{% block title %}Spotlights{% endblock %}
{% block contents %}
<div class="spotlight_details_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>{{ get_single_spotlight.headline }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spotlight_details_page_section_one">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="content">
          <div class="image_part">
            <img src="{{ get_single_spotlight.photo.url }}" alt="{{ get_single_spotlight.headline }}" class="img-fluid">
          </div>
          <div class="other_content">
            <h1>{{ get_single_spotlight.headline }}</h1>
            <p>{{ get_single_spotlight.description|safe }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
