{% extends "./base.html" %}
{% load static %}
{% block title %}ISO-9001:2015{% endblock %}
{% block contents %}
<div class="iso_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Ifakara Health Institute management system is ISO 9001: 2015 certified</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="iso_section_one">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <p>The Swiss Accreditation body, SGS SA, has granted Ifakara Health Institute (IHI) the ISO 9001: 2015 certificate for the provision of health and research services. IHI has been issued with Certificate Number TZ18/90348. The certification is effective since May 28, 2018.</p>
          <p>“The management system of Ifakara Health Institute… has been assessed and certified as meeting the requirements of ISO 9001: 2015 for the following activities: Provision of Health Research and Services,” reads the certificate content in part. The certificate is valid for three years from 28 May 2018 until 27 May 2021.</p>
          <p>ISO 9001: 2015 is granted to organizations with management systems that have a proven strong customer focus, good motivation and implication of top management, good process approach and continual improvement.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="iso_section_two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>ABOUT ISO 9001: 2015</h1>
          <p>ISO 9001:2015 sets out the criteria for a quality management system. It can be used by any organization, large or small, regardless of its field of activity. There are over one million companies and organizations in over 170 countries certified to ISO 9001.</p>
          <p>This standard is based on a number of quality management principles including a strong customer focus, the motivation and implication of top management, the process approach and continual improvement. Using ISO 9001: 2015 helps ensure that customers get consistent, good quality products and services, which in turn brings many business benefits.</p>
          <div class="jumbotron">
            <a href="{% static 'images/SAS-ISO-9001-IHI-Certifcate.pdf' %}" target="_blank"><p class="lead">View our ISO 9001 Certificate</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
