{% extends "./base.html" %}
{% load static %}
{% block title %}VCPTU{% endblock %}
{% block contents %}
<div class="vcptu_page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Vector Control Product Testing Unit</h1>
          <h4>We Check And Recheck Our Results</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vcptu_page_section_one">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section_two">
          <div class="images w3-card">
            <img src="{% static 'images/cone.jpg'%}" alt="vcptu-image" class="img-fluid">
          </div>
          <div class="welcome_side">
            <h1>Welcome</h1>
            <p>The Vector Control Product Testing Unit (VCPTU) is an internationally renowned site for high quality evaluations of new vector control products for the private industry, product development partnerships, and regulatory bodies including WHO Prequalification.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vcptu_page_section_three">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="mission_vision w3-card">
            <h1>Mission</h1>
            <p>We serve the community through excellence in <span>service</span> delivery, <span>research</span> into new methods of product testing and <span>training</span> of MSc and PhD students.</p>
          </div>
          <div class="mission_vision w3-card">
            <h1>Vision</h1>
            <p>In order to eliminate vector borne disease we must have a diverse range of high quality and long-lasting vector control tools. We help bring new vector control products to market more rapidly and cost efficiently through rigorous evaluations using well powered studies, enhanced research standards, and careful data analysis. At the same time we are dedicated to building capacity in entomology for the future of vector control.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vcptu_page_section_two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Our methods</h1>
          <p>We use standard WHO testing methodology (Phase I: laboratory studies, Phase II: experimental hut studies, and Phase III: community studies) for long lasting insecticidal nets and Indoor residual spray (IRS). We have also developed new bioassay techniques such as the Ifakara Ambient Chamber Test (I-ACT) and conduct non-inferiority testing for vector control products that generate data that compliments WHO guidance. We always do our testing on both susceptible and local resistant mosquito strains to show how products will perform in the African context where pyrethroid resistance is the norm. Our studies are conducted following principles of Good Laboratory Practice (GLP).</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vcptu_page_section_seven">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content w3-card">
          <h1>Client Value</h1>
          <p>The unit has a standard costings and a business model to enhance efficiency and ensure client satisfaction. We team with Centre Swisse de Recherche Scientifique (CSRS) in Cote d'Ivoire, National Institute for Malaria Research (NIMR) India, Papua New Guinea Institute of Medical Research (PNGIMR) and Eijkman Institute in Indonesia providing the donor with a single protocol and report for multi-centre studies. This product testing hub allows us to provide even more efficient and wide-ranging service to our clients.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vcptu_page_section_four">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="service_container">
            <img src="{% static 'images/bg1.jpg'%}" alt="vcptu-image" class="img-fluid">
            <p>Available tests: indoor residual spraying (IRS), insecticidal treated nets (ITNs), skin (topical) repellents, spatial (area) repellents, treated clothing, attractive targeted sugar baits and mosquito lures.</p>
          </div>
          <div class="service_container">
            <img src="{% static 'images/bg1.jpg'%}" alt="vcptu-image" class="img-fluid">
            <p>We develop new means of testing products and assist in developing guidelines for international use.</p>
          </div>
          <div class="service_container">
            <img src="{% static 'images/bg1.jpg'%}" alt="vcptu-image" class="img-fluid">
            <p>We measure key parameters in the mosquito that translate to efficacy in reducing vector borne disease in the human population when applied at scale.</p>
          </div>
          <div class="service_container">
            <img src="{% static 'images/bg1.jpg'%}" alt="vcptu-image" class="img-fluid">
            <p>Our documentation, analysis and reporting is rigorous for ease of use by our partners.</p>
          </div>
          <div class="service_container">
            <img src="{% static 'images/bg1.jpg'%}" alt="vcptu-image" class="img-fluid">
            <p>We offer protocol, data analysis and report writing services.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vcptu_page_section_five">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Product class</th>
                  <th>WHO Phase I (Laboratory)</th>
                  <th>WHO Phase II (Experimental hut)</th>
                  <th>Semi Field Bioassays</th>
                  <th>WHO Phase III (Community Entomological trial)</th>
                  <th>Clinical trials</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Long lasting Insecticidal nets (LLIN)</td>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Indoor Residual Sprays (IRS)</td>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Spatial and Topical repellent</td>
                  <td></td>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                  <td>Treated Clothing</td>
                  <td><i class="fa fa-check"></i></td>
                  <td></td>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                  <td>Larvicides</td>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Attractive Targeted Sugar Bait</td>
                  <td></td>
                  <td></td>
                  <td><i class="fa fa-check"></i></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vcptu_page_section_six">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1>Capacities and Features</h1>
          <div class="content_list">
            <div class="lefft_content w3-card">
              <ul>
                <li>28 Experimental Huts</li>
                <li>Phase 1 and Phase 2 LLIN washing facilities</li>
                <li>Phase 1 IRS testing laboratories and block room</li>
                <li>8 Semi Field systems for ecological testing</li>
                <li>20 Ambient chambers</li>
                <li>Biosafety level 3 laboratory for malaria transmission studies</li>
                <li>Molecular entomology laboratory</li>
                <li>Well-trained and experienced spray teams for IRS trials</li>
              </ul>
            </div>
            <div class="light_content w3-card">
              <img src="{% static 'images/net_washing.jpg'%}" alt="washing-net" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="content w3-card wild_mosquito">
          <h1>Wild Mosquito Populations at Experimental Hut Site</h1>
          <ul>
            <li>High pyrethroid resistant <i>Anopheles arabiensis</i> with P450 resistance mechanism</li>
            <li>Low pyrethroid resistant <i>Anopheles funestus</i> with CYP6a9b, A2965 RDL, L 119- GSTe2, and N4851-Ace-1 resistance mechanisms</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="content w3-card wild_mosquito">
          <h1>Laboratory Mosquito strains</h1>
          <ul>
            <li><i>Anopheles gambiae</i> s.s. (Ifakara), Anopheles gambiae s.s. (Kisumu) fully susceptible to all classes of insecticides.</li>
            <li><i>Anopheles gambiae</i> s.s. (Kisumu KDR) 80% survival of permethrin exposure, KDR East</li>
            <li><i>Anopheles arabiensis</i> (Kingani) pyrethroid resistant (70-90% survival of pyrethroid exposure), overexpression of CYP6P1</li>
            <li><i>Anopheles funestus</i> (FUMOZ) pyrethroid resistant</li>
            <li><i>Aedes aegypti</i> (fully susceptible to all classes of insecticides)</li>
            <li><i>Culex quinquefasciatus (resistant to all classes of insecticides)</i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vcptu_page_section_height">
  <div class="container">
    <h1>Our Team</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="staff_item">
            {% if unit_staff %}
              {% for v_staff in unit_staff %}
                <div class="main_div">
                  <div class="img_div">
                    <img src="{{ v_staff.image.url }}" alt="{{ v_staff.first_name }}-{{ v_staff.last_name }}" class="img-fluid">
                  </div>
                  <div class="description_div">
                    <a href="{% url 'staffDetails' v_staff.id v_staff.first_name v_staff.last_name %}">{{ v_staff.first_name }} {{ v_staff.last_name }}</a>
                    <p>{{ v_staff.position }}</p>
                  </div>
                </div>
              {% endfor %}
            {% else %}
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">Info!</h4>
              <p>No staff added yet for this unit</p>
            </div>
            {% endif %}


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vcptu_page_section_nine">
  <div class="container">
    <h1>Our Partners</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="partner_logo">
            <img src="{% static 'images/icmr.png'%}" alt="" class="img-fluid">
          </div>
          <div class="partner_logo">
            <img src="{% static 'images/csrs.jpg'%}" alt="" class="img-fluid">
          </div>
          <div class="partner_logo">
            <p>Nirmal Bhawan- ICMR Complex</p>
          </div>
          <div class="partner_logo">
            <img src="{% static 'images/pngimr.png'%}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
